body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center center;
  background-repeat: none;
}

h1 {
  margin: 0;
  padding: 16px 0;
  color: white;
}

.character-card {
  background: #fff;
  border-radius: 2px;
  display: flex;
  max-height: 200px;
  margin: 1rem;
  padding: 1rem;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.characterList-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.character-card {
  text-align: start;
  padding-left: 24px;
}
